/* Formular-Container */
* {
    box-sizing: border-box;
}

.inputArea {
    border-radius: 12px;
}

/* Jede Eingabegruppe als Box */
.inputArea label {
    display: block;
    margin-top: 1rem;
    border-radius: 8px;
}

/* Beschreibungstext unter Inputs */
.inputDescription {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 0.2rem;
}

/* Input Hintergrund */
.inputArea input {
    background: none;
    background-color: rgba(50, 50, 50, 0.7);
}

/* Inputs, Selects, Textareas */
.inputArea input,
.inputArea select,
.inputArea textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #666;
}

/* Select Hintergrund */
.inputArea select {
    background: none;
    background-color: rgba(50, 50, 50, 0.7);
}

/* Textarea */
.inputArea textarea {
    background: none;
    background-color: rgba(50, 50, 50, 0.7);
    resize: vertical;
}

/* Buttons */
input[type="submit"],
input[type="reset"] {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.buttonRow {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.buttonRow .card {
    width: auto;
    margin: 0;
}

input[type="submit"] {
    background: none;
    background-color: #1f8735;
}

input[type="reset"] {
    background: none;
    background-color: #811313;
}

input[type="submit"]:hover {
    background: none;
    background-color: #2a9f45;
}

input[type="reset"]:hover {
    background: none;
    background-color: #a11a1a;
}