/* Dark-Mode */
* {
    background-color: #000000;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;  /* Macht die Liste horizontal */
    gap: 20px;     /* Abstand zwischen den Einträgen */
    padding: 0px;
    margin: 0.5em;

}

.newsArticle {
    border: 2px solid #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    height: auto;
}

table { border-collapse: collapse; }

/* jede Zeile außer der ersten bekommt oben eine Linie */
tr + tr td {
  border-top: 1px solid #ccc;
}

td, th {
    padding: 4px;
}

th {
    text-align: left;
}

.inputArea label {
    display:inline-block;
    width: 100%;
    height: auto;
}
.inputArea input[type="text"],
.inputArea input[type="email"],
.inputArea select {
    display: inline-block; /* auf neue Zeile */
    text-align: left;
    position: absolute;
    left: 10%;
}

/* Ergänzende Kommentare nach den Input-Feldern */
.inputArea label>label {
    width: 250px;
    left: 250px;
}

.inputDescription {
    position: relative;
    left: 270px;
}