
    $slectedColor: #185eae;

    $backgroundGradientAngle: 160deg;
    $backgroundColorDark: #000000;
    $backgroundColorBright: #343333;

$backgroundGradientDirectionDarkToBright: linear-gradient($backgroundGradientAngle, $backgroundColorDark, $backgroundColorBright);
$backgroundGradientDirectionBrightToDark: linear-gradient($backgroundGradientAngle, $backgroundColorBright, $backgroundColorDark);